*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

picture.lozad {
  display: block;
  min-height: 1rem;

  &[data-loaded="true"] .placeholder {
    display: none;
  }
}
